In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [14]:
df_questions_ymd = pd.read_csv('./data/silver/df_questions_by_period_YYYY-MM-DD.csv', index_col=0)
df_meetings_ymd = pd.read_csv('./data/silver/df_meetings_by_period_YYYY-MM-DD.csv', index_col=0)

In [20]:
all_periods = sorted(set(df_questions_ymd.columns.tolist() + df_meetings_ymd.columns.tolist()))

# Fill missing periods with 0
df_questions = df_questions_ymd.reindex(all_periods, axis=1, fill_value=0)
df_meetings = df_meetings_ymd.reindex(all_periods, axis=1, fill_value=0)

In [24]:
# I need to transform the columns into rows
df_questions_melted = df_questions.melt(ignore_index=False, var_name='date', value_name='questions')
df_meetings_melted = df_meetings.melt(ignore_index=False, var_name='date', value_name='meetings')

# Reset index to handle duplicate indices
df_questions_melted = df_questions_melted.reset_index()
df_meetings_melted = df_meetings_melted.reset_index()

# now join the two dataframes
df_combined = pd.merge(df_questions_melted, df_meetings_melted, 
                      on=['member_id', 'date'])

In [ ]:
# Given that my dataframe is a panel data where member_id represents a person
# I want to run a timeseries analysis of the questions and meetings

In [30]:
df_combined

         member_id       date  questions  meetings
0            840.0 2008-06-11          0         0
1            840.0 2009-01-29          0         0
2            840.0 2009-02-13          0         0
3            840.0 2009-02-18          0         0
4            840.0 2009-02-26          0         0
...            ...        ...        ...       ...
2381457   260035.0 2025-02-24          0         0
2381458   260035.0 2025-02-25          0         0
2381459   260035.0 2025-02-26          0         0
2381460   260035.0 2025-02-27          0         0
2381461   260035.0 2025-02-28          0         0

[2381462 rows x 4 columns]