In [1]:
import pandas as pd

In [2]:
df_meps = pd.read_csv("./data/mep_detail.csv")
df_tr = pd.read_csv("./data/transparency_register.csv")
df_combined = pd.read_csv("./data/silver/df_matched.csv")

In [3]:
df_edges = df_combined[df_combined["member_id"].notna()][
    ["member_id", "Identification code", "meeting_date"]
]
df_edges["member_id"] = df_edges["member_id"].astype(int)

In [4]:
df_edges.rename(
    columns={"member_id": "Target", "Identification code": "Source"}, inplace=True
)

In [5]:
df_nodes = df_meps[["identifier", "label"]].copy()
df_nodes.rename(columns={"identifier": "id", "label": "Label"}, inplace=True)
df_nodes["type"] = "Mep"


df_nodes = pd.concat(
    [
        df_nodes,
        df_tr[["Identification code", "Name", "Category of registration"]]
        .copy()
        .rename(
            columns={
                "Identification code": "id",
                "Name": "Label",
                "Category of registration": "type",
            }
        ),
    ]
)


df_nodes.head()

       id           Label type
0  233862    Matjaž NEMEC  Mep
1  257102    Giorgio GORI  Mep
2   96834  Iliana IVANOVA  Mep
3  257092     Hanna GEDIN  Mep
4     622   Arthur GAILLY  Mep

In [7]:
print(len(df_nodes), len(df_edges))

16564 40387

In [19]:
df_edges = df_edges.groupby(['Source', 'Target']).count().reset_index().rename(columns={'meeting_date': 'weight'}).sort_values('weight', ascending=False)

In [20]:
df_edges = df_edges[df_edges['Source'] != '655637920614-19']

In [21]:
df_nodes.to_csv("./data/silver/df_nodes.csv", index=False)
df_edges.to_csv("./data/silver/df_edges.csv", index=False)